div.CatDescription {
	--img-size: 162px;
	--name-container-height: 64px;
	--image-bottom-margin: 12px;
	--image-left-margin: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;

	.catDisplay {
		position: relative;
		height: calc(var(--img-size) + var(--image-bottom-margin));
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.image {
			width: var(--img-size);
			height: var(--img-size);
			border-radius: 50%;
			position: absolute;
			bottom: var(--image-bottom-margin);
			left: var(--image-left-margin);
		}

		.nameContainer {
			width: 100vw;
			height: var(--name-container-height);
			background-color: var(--background-color-alt);
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-left: calc(var(--img-size) + var(--image-left-margin));

			span {
				font-size: 32px;
				line-height: 41px;
				text-align: center;
				width: 148px;

				color: var(--text-color-alt);
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 80vw;

		.description {
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0em;
			text-align: justify;
			color: var(--text-color);
		}

		.title {
			color: var(--background-color-alt);
		}
	}
}
